pipeline/Auto Processing - OutcomeArea.json
{
	"name": "Auto Processing - OutcomeArea",
	"properties": {
		"activities": [
			{
				"name": "Lookup OutcomeArea File",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "select FileName from TrafficCop.Dimension\nwhere IsTracked = 0 and FileName like 'OutcomeEnablingArea%';\nupdate TrafficCop.Dimension\nset IsTracked = 1\nwhere IsTracked = 0 and FileName like 'OutcomeEnablingArea%';",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQLServer_DIL_Dataset",
						"type": "DatasetReference",
						"parameters": {
							"fileName": "Dimension",
							"schema": "TrafficCop"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach OutcomeArea File",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup OutcomeArea File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup OutcomeArea File').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy from SQLServer to SQLServer",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SqlServerSink"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "Outcome Area",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "OutcomeArea",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "OtcA Desc",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "OutcomeAreaDescr",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "OtcA Long Desc",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "OutcomeAreaLongDescr",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "isENABLINGAREA",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "IsEnablingArea",
												"type": "Boolean",
												"physicalType": "bit"
											}
										},
										{
											"source": {
												"name": "Date_Time",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "Date_Time",
												"type": "DateTime",
												"physicalType": "datetime"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": true,
										"dateTimeFormat": "dd/MM/yyyy HH:mm:ss"
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SQLServer_Board_Dataset",
									"type": "DatasetReference",
									"parameters": {
										"fileName": {
											"value": "@item().FileName",
											"type": "Expression"
										},
										"schema": "full_ext_final"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "SQLServer_DIL_Dataset",
									"type": "DatasetReference",
									"parameters": {
										"fileName": "OutcomeArea",
										"schema": "tem"
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "BoardToDIL_ver1"
		},
		"annotations": []
	}
}