pipeline/Auto Processing - PlanCountry.json
{
	"name": "Auto Processing - PlanCountry",
	"properties": {
		"activities": [
			{
				"name": "Lookup PlanCountry File",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "select FileName from TrafficCop.Dimension\nwhere IsTracked = 0 and FileName like 'PlanCountry%';\nupdate TrafficCop.Dimension\nset IsTracked = 1\nwhere IsTracked = 0 and FileName like 'PlanCountry%';",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQLServer_DIL_Dataset",
						"type": "DatasetReference",
						"parameters": {
							"fileName": "Dimension",
							"schema": "TrafficCop"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach PlanCountry File",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup PlanCountry File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup PlanCountry File').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy from SQLServer to SQLServer",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SqlServerSink"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "Operation ABC",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "ABCCode",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Year",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "Year",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "Plan",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "Plan",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Country",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "CountryISO3",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Validity",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "IsValid",
												"type": "Boolean",
												"physicalType": "bit"
											}
										},
										{
											"source": {
												"name": "DateTime",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "Date_Time",
												"type": "DateTime",
												"physicalType": "datetime"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": true,
										"dateTimeFormat": "dd/MM/yyyy HH:mm:ss"
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SQLServer_Board_Dataset",
									"type": "DatasetReference",
									"parameters": {
										"fileName": {
											"value": "@item().FileName",
											"type": "Expression"
										},
										"schema": "full_ext_final"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "SQLServer_DIL_Dataset",
									"type": "DatasetReference",
									"parameters": {
										"fileName": "PlanCountry",
										"schema": "tem"
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "BoardToDIL_ver1"
		},
		"annotations": []
	}
}