pipeline/Test forech with lookup table.json
{
	"name": "Test forech with lookup table",
	"properties": {
		"activities": [
			{
				"name": "Lookup File",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQLServer_Lego_ConfigurationTable",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Filter Non Active Files",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Lookup File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup File').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().IsActive, false)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach File",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter Non Active Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter Non Active Files').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Execute Lego HTTP to ADLS",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "HTTP_to_ADLS_then_SQLServer",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"fileName": {
										"value": "@item().SourceFileName",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"Files": {
				"type": "Array"
			},
			"ListOfFiles": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Self Training"
		},
		"annotations": []
	}
}